@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Configurações globais */
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header superior com título e logo */
.top-header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.top-header h1 {
    margin: 0 10px 0 0;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 20px;
}

.logo img {
    width: 100%;
    height: auto;
}

/* Layout Container */
.container {
    display: flex;
    flex: 1;
}

/* Menu Lateral */
.menu {
    width: 250px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    padding: 20px;
}

.menu h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #0056b3;
}

/* Conteúdo */
.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* Estilização básica para seções de conteúdo */
.content section {
    display: none;
}

.content section:target {
    display: block;
}

.content h3 {
    margin-top: 0;
}

.tabs {
    margin-left: 0 auto;
}

.tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.tabs ul li {
    margin: 0 10px;
}

.tabs ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

.tabs ul li a:hover {
    color: #ddd;
}
